<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring
		http://camel.apache.org/schema/spring/camel-spring-2.12.3.xsd">
	
	<bean id="visualizer" 
		class="szymanski.cameldemo.visualizer.impl.VisualizerFactory" factory-method="create" />
		
	<bean id="stoppable" class="szymanski.cameldemo.visualizer.impl.SpringContextStoppable">
		<constructor-arg ref="visualizer" />
	</bean>
	
	<bean id="text2Point" class="szymanski.cameldemo.Text2PointProcessor" />
	
	<bean id="random" class="szymanski.cameldemo.RandomPointDataSet">
		<constructor-arg value="50" />
		<constructor-arg value="30" />
		<constructor-arg value="300" />
	</bean>
	
	<bean id="adapter0" class="szymanski.cameldemo.VisualizerAdapter">
		<constructor-arg ref="visualizer" />
		<constructor-arg value="0" />
	</bean>
	<bean id="adapter1" class="szymanski.cameldemo.VisualizerAdapter">
		<constructor-arg ref="visualizer" />
		<constructor-arg value="1" />
	</bean>
	<bean id="adapter2" class="szymanski.cameldemo.VisualizerAdapter">
		<constructor-arg ref="visualizer" />
		<constructor-arg value="2" />
	</bean>
	<bean id="adapter3" class="szymanski.cameldemo.VisualizerAdapter">
		<constructor-arg ref="visualizer" />
		<constructor-arg value="3" />
	</bean>			
	
	<bean id="pointRecipientListHeader" class="szymanski.cameldemo.PointRecipientList" />
	
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="dataset:random?produceDelay=20" />
			<bean ref="text2Point" />
			<bean ref="pointRecipientListHeader" />
			<recipientList>
				<javaScript><![CDATA[
					var resultArray = [];
					var indexes = request.headers.get('adapterIndexes');
					for (var i = 0; i < indexes.length; i++) 
						resultArray.push('bean:adapter' + indexes[i]);
					result = resultArray.join(',');				
				]]>
				</javaScript>
			</recipientList>
		</route>
	</camelContext>
</beans>